In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## Se evalua el tama単o de la Muestra

### Tama単o de Muestra: N = 15

Se realizo una muestra con 15 permutaciones para cada uno de los escenarios. El parameter variation se realizo:

Si PTL era falso:
- Cantidad de Operarios de MODO entre 0 y 30 con 5 operarios de step.

Si PTL era verdadero:
- Cantidad de Operarios de MODO entre 0 y 30 con 5 operarios de step.
- Cantidad de Racks de Staging entre 1 y 5.

In [294]:
df = pd.read_excel('Data/Data.xlsx')

In [295]:
# Agrupo con Maximo, Minimo, Media, Desviacion Estandar, Cantidad de datos
groupNS = df.groupby('Escenario').agg({'nivelServicio': ['max', 'min', 'mean', 'std', 'count']})

In [296]:
# Convertir los resultados a DataFrame
df_ns = groupNS.reset_index()

In [297]:
df_ns.columns = ['Escenario', 'NSMax', 'NSMin', 'NSMean', 'NSStd', 'NSCount']

Se evalua si para cada uno de los escenarios se logra un nivel de precision del 5% del Nivel de Servicio con 0.95 de confianza. Se evalua unicamente sobre el nivel de servicio porque el costo no tiene componente aleatorio.

In [299]:
df_ns['HW0'] = 0.05
df_ns['HW'] = 1.96 * df_ns['NSStd'] / df_ns['NSCount'] ** 0.5
df_ns['HW < HW0']= df_ns['HW'] < df_ns['HW0']

In [300]:
if(df_ns['HW < HW0'].any()):
    print('No se puede rechazar la hipotesis nula')
else:
    print('Se rechaza la hipotesis nula')

No se puede rechazar la hipotesis nula

In [301]:
df_ns[df_ns['HW < HW0'] == False]

,Escenario,NSMax,NSMin,NSMean,NSStd,NSCount,HW0,HW,HW < HW0
6,1TRUE0,0.594203,0.206767,0.384283,0.140943,15,0.05,0.071327,False
7,1TRUE10,0.863636,0.413333,0.690291,0.160812,15,0.05,0.081382,False
8,1TRUE15,0.874251,0.572954,0.761143,0.100393,15,0.05,0.050806,False
9,1TRUE20,0.861486,0.400000,0.688591,0.148155,15,0.05,0.074977,False
10,1TRUE25,0.858108,0.417763,0.662690,0.140902,15,0.05,0.071306,False
11,1TRUE30,0.863333,0.414286,0.757170,0.125722,15,0.05,0.063624,False
12,1TRUE5,0.872483,0.430556,0.693546,0.136384,15,0.05,0.069020,False
13,2TRUE0,0.837931,0.329412,0.669431,0.166273,15,0.05,0.084146,False
14,2TRUE10,0.868339,0.368601,0.781267,0.128784,15,0.05,0.065173,False
20,3TRUE0,0.864583,0.333333,0.786453,0.139247,15,0.05,0.070469,False
26,3TRUE5,0.872204,0.434615,0.805932,0.114370,15,0.05,0.057879,False
30,4TRUE20,0.869427,0.457249,0.826864,0.104410,15,0.05,0.052839,False
34,5TRUE0,0.873188,0.282528,0.735360,0.172015,15,0.05,0.087052,False

Por esa razon, se debe evaluar nuevamente con una muestra mayor.

### Tama単o de Muestra: N = 30

In [302]:
df = pd.read_excel('Data/Data2.xlsx')

In [303]:
# Agrupo con Maximo, Minimo, Media, Desviacion Estandar, Cantidad de datos
groupNS = df.groupby('Escenario').agg({'nivelServicio': ['max', 'min', 'mean', 'std', 'count']})

In [304]:
# Convertir los resultados a DataFrame
df_ns = groupNS.reset_index()

In [305]:
df_ns.columns = ['Escenario', 'NSMax', 'NSMin', 'NSMean', 'NSStd', 'NSCount']

Se evalua si para cada uno de los escenarios se logra un nivel de precision del 5% del Nivel de Servicio con 0.95 de confianza. Se evalua unicamente sobre el nivel de servicio porque el costo no tiene componente aleatorio.

In [306]:
df_ns['HW0'] = 0.05
df_ns['HW'] = 1.96 * df_ns['NSStd'] / df_ns['NSCount'] ** 0.5
df_ns['HW < HW0']= df_ns['HW'] < df_ns['HW0']

In [307]:
if(df_ns['HW < HW0'].any()):
    print('No se puede rechazar la hipotesis nula')
else:
    print('Se rechaza la hipotesis nula')

No se puede rechazar la hipotesis nula

In [308]:
df_ns[df_ns['HW < HW0'] == False]

,Escenario,NSMax,NSMin,NSMean,NSStd,NSCount,HW0,HW,HW < HW0
8,1TRUE10,0.866221,0.413333,0.724030,0.141657,30,0.05,0.050691,False
14,2TRUE0,0.837931,0.323671,0.670285,0.151112,30,0.05,0.054075,False
35,5TRUE0,0.873188,0.282528,0.722379,0.161514,30,0.05,0.057797,False

Sigue sin cumplirse la precision esperada.

### Tama単o de Muestra: N = 60

In [7]:
df = pd.read_excel('Data/Data3.xlsx')

In [8]:
# Agrupo con Maximo, Minimo, Media, Desviacion Estandar, Cantidad de datos
groupNS = df.groupby('Escenario').agg({'nivelServicio': ['max', 'min', 'mean', 'std', 'count']})

In [9]:
# Convertir los resultados a DataFrame
df_ns = groupNS.reset_index()

In [10]:
df_ns.columns = ['Escenario', 'NSMax', 'NSMin', 'NSMean', 'NSStd', 'NSCount']

Se evalua si para cada uno de los escenarios se logra un nivel de precision del 5% del Nivel de Servicio con 0.95 de confianza. Se evalua unicamente sobre el nivel de servicio porque el costo no tiene componente aleatorio.

In [11]:
df_ns['HW0'] = 0.05
df_ns['HW'] = 1.96 * df_ns['NSStd'] / df_ns['NSCount'] ** 0.5
df_ns['HW < HW0']= df_ns['HW'] < df_ns['HW0']

In [12]:
if not (df_ns['HW < HW0'].any()):
    print('No se puede rechazar la hipotesis nula')
else:
    print('Se rechaza la hipotesis nula')

Se rechaza la hipotesis nula

Una muestra de 60 iteraciones por escenario es lo suficientemente grande como para cumplir con el criterio de precision establecido en 5%.